body {
    margin: 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #F0F1F3;
}



.features-section {
    text-align: center;
    padding: 40px;
}

.features-section h2 {
    color: #7AD47A;
    font-size: 24px;
}

.features-section h1 {
    color: #212121;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 40px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.feature-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: left;
    width: 429.33px; 
    height: 321.5px; 
    box-sizing: border-box;
}

.feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.feature-card .icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.feature-card h3 {
    color: #28B30E;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
}

.feature-card p {
    color: #555;
}

.highlighted {
    border: 2px solid #7AD47A;
}
